<header>
  <img src="/assets/images/coincap.svg">
</header>

<main>
  <section class="main-table">
    <div class="wrapper">
      <mat-card>
        <div class="coin-table">
          <div class="coin-table__header">
            <div class="coin-table__row coin-table__row_header">
              <div class="coin-table__cell coin-table__cell_rank"> Rank</div>
              <div class="coin-table__cell coin-table__cell_name"> Name</div>
              <div class="coin-table__cell coin-table__cell_price"> Price</div>
              <div class="coin-table__cell coin-table__cell_cap"> MarketCap</div>
              <div class="coin-table__cell coin-table__cell_volume"> Volume (24Hr)</div>
            </div>
          </div>
          <div class="coin-table__body-wrapper">
            <div class="coin-table__body">
              <div *ngFor="let item of list" class="coin-table__row">
                <div class="coin-table__cell coin-table__cell_rank">{{item.rank}}</div>
                <div class="coin-table__cell coin-table__cell_name">{{item.name}}</div>
                <div class="coin-table__cell coin-table__cell_price">{{item.priceUsd | currency: 'USD'}}</div>
                <div class="coin-table__cell coin-table__cell_cap">{{item.marketCapUsd | currency: 'USD'}}</div>
                <div class="coin-table__cell coin-table__cell_volume">{{item.volumeUsd24Hr | currency: 'USD'}}</div>
              </div>
            </div>
            <div class="coin-table__body-bar"></div>
          </div>
        </div>
      </mat-card>
    </div>
  </section>
</main>
