header
  height: 60px
  display: flex
  align-items: center
  justify-content: center
  img
    width: 80px
    height: auto

.main-table
  position: relative
  min-height: 200px
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 200px
    background: linear-gradient(to right, #3f51b5, #64b5f6) white
    z-index: -1
  mat-card
    padding: 0
    overflow: hidden
    max-height: calc(100vh - 60px - 50px - 16px)

.wrapper
  padding-top: 50px

.coin-table
  width: 100%
  background-color: white

.coin-table__body-wrapper
  position: relative
  &:hover
    .coin-table__body-bar
      opacity: 0
      transition: all .5s

.coin-table__body
  max-height: calc(100vh - 60px - 50px - 56px - 16px)
  overflow-y: scroll
  &::-webkit-scrollbar
    width: 8px
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb
    overflow: visible
    border-radius: 4px
  &::-webkit-scrollbar-thumb
    background: rgba(black, .2)

.coin-table__body-bar
  position: absolute
  background: white
  height: 100%
  top: 0
  right: 0
  width: .4em
  transition: all .5s
  opacity: 1

.coin-table__row
  height: 48px
  display: flex
  margin-left: 8px
  &:not(:last-of-type)
    border-bottom: 1px solid rgba(black, .12)

.coin-table__row_header
  height: 56px
  margin-right: 8px
  color: rgba(black, .54)
  border-bottom: 1px solid rgba(black, .12)

.coin-table__cell
  flex: none
  width: 20%
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  padding: 8px
  height: 100%
  font-size: 12px
  font-weight: 500

.coin-table__cell_rank
  width: 10%

.coin-table__cell_name,
.coin-table__cell_price
  width: 15%

.coin-table__cell_cap,
.coin-table__cell_volume
  width: 30%

@media (max-width: 800px)
  .coin-table__cell_rank
    width: 20%

  .coin-table__cell_name,
  .coin-table__cell_price
    width: 40%

  .coin-table__cell_cap,
  .coin-table__cell_volume
    display: none

@media (max-width: 400px)
  .coin-table__cell_rank
    display: none

  .coin-table__cell_name,
  .coin-table__cell_price
    width: 50%



