
html
  width: 100%
  margin: 0
  padding: 0
  font-size: 21px

html *
  outline: none
  box-sizing: border-box

body
  width: 100%
  height: 100%
  position: relative
  margin: 0
  overflow-x: hidden
  background-color: white

.wrapper
  width: 100%
  max-width: 1280px
  padding-left: 16px
  padding-right: 16px
  margin: 0 auto

.scrollbar
  overflow-y: auto
  &::-webkit-scrollbar
    width: 10px
  &::-webkit-scrollbar-thumb
    background-color: rgba(0, 0, 0, .15)
    border-radius: 1000px
  &::-webkit-scrollbar-track
    background-color: rgba(0, 0, 0, .1)
    border-radius: 1000px
